
.input-field-with-error {

	display: flex;
	flex-direction: column;
	margin: 0.25rem 0;

	/* Apply margin to all children */
	* {
		margin: 0.25rem 0;
	}

	.input-field {
		height: 1.2rem;
		font-size: 0.95rem;
		line-height: 1.5;
		padding: .1875rem 0.35rem;
		border: 1px solid #CED4DA;
		border-radius: 0.25rem;

		&:focus {
			outline: none;
		}
	}

}