
.labeled-element {

	margin-bottom: 0.5rem;

	.the-label {
		color: #555;
		margin-right: 0.5rem;
	}

	.is-horizontal {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;

		&.the-label {
			margin-right: 0;
		}
	}
}