@import './TableVars.scss';

.crypto-table {
	font-family: monospace;
	// TODO: use REM instead
	font-size: 14px;
	margin: 0.5rem 0;

	border-collapse: collapse;

	background-color: white;
	transition: background-color 1000ms linear;

	.horizontal-header {
		border-bottom: solid 1px black;
	}

	.vertical-header {
		border-right: solid 1px black;
	}

	.even-row {
		background-color: #F2F2F2;
		transition-property: background-color;
		transition-timing-function: ease-in-out;
	}

	.vertical-highlight {
		background-color: $input-highlight-color;
		transition-property: background-color;
		transition-timing-function: ease-in-out;


		&.horizontal-highlight {
			background-color: $output-highlight-color;
			transition-property: background-color;
			transition-timing-function: ease-in-out;
		}
	}

	.horizontal-highlight {
		background-color: $keyword-highlight-color;
		transition-property: background-color;
		transition-timing-function: ease-in-out;
	}

	td, th {
		padding: 2px 0.35rem;
	}
}